body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    width: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex: 1;
    text-align: left;
}

li.completed span {
    text-decoration: line-through;
    opacity: 0.7;
}

li.completed button.delete {
    text-decoration: none;
    color: #fff;
}

button.delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    transform: scale(1.5);
}

.editTask {
    width: 200px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    display: none;
}

li.editing {
    background-color: #e6f7ff;
}

.edit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: auto;
}

.list-header {
    text-align: center;
    margin-bottom: 20px;
}

.list-header h1 {
    font-size: 24px;
    color: #333;
}
